* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #403121;
  font-family: "Noto Serif", serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 35vw;
  height: 60vh;
  background-color: rgba(245, 245, 245, 0.678);
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.content {
  width: 35vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 35vw;
  height: 15vh;
  padding: 3vh 3vw;
}
.logo:hover {
  color: #d19432;
}

.fa-instagram {
  margin-top: 1vh;
  color: #468966;
  font-size: 2.2vw;
}

.signIn {
  width: 12vw;
  height: 8vh;
  font-size: 2vw;
  margin-left: 1vw;
  text-align: center;
}
.e-mail {
  width: 35vw;
  height: 8vh;
  padding: 1vh 1vw;
  text-align: center;
}
#email {
  width: 25vw;
  height: 6vh;
  outline: none;
  background-color: transparent;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 0.2vh #d19432 solid;
  font-size: 1.4vw;
  font-style: italic;
  opacity: 0.3;
  text-align: center;
}

.account {
  width: 35vw;
  height: 10vh;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.create a {
  margin-left: 0.8vw;
  text-decoration: none;
  color: #20655f;
}
a:hover {
  color: #f1b24b;
}
.forgot {
  width: 35vw;
  height: 10vh;
  padding: 1vh 1vw;
  text-align: center;
}
.forgot a {
  text-decoration: none;
  color: #20655f;
  font-size: 1vw;
}

.button {
  width: 35vw;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 4vh;
}
.button input {
  width: 7vw;
  height: 6vh;
  border: hidden;
  background-color: transparent;
  font-size: 1vw;
  margin-right: 2vw;
}

.button input:hover {
  color: #f1b24b;
}
